<div
  class="sm:col-span-2 p-6 bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700"
>
  <h3 class="mb-4 text-xl font-bold text-gray-900 dark:text-white">
    Example: complex form with comples validations and conditionals
  </h3>
  <ul class="text-md list-disc ml-4">
    <li>Show validation errors on blur</li>
    <li>Show validation errors on submit</li>
    <li>When first name is <strong>Brecht</strong>: Set gender to male</li>
    <li>
      When first name is <strong>Brecht</strong> and last name is
      <strong>Billiet</strong>: Set age and passwords
    </li>
    <li>
      When first name is <strong>Luke</strong>: Fetch
      <strong>Luke Skywalker from the swapi api</strong>
    </li>
    <li>When age is below 18, make Emergency contact required</li>
    <li>When age is of legal age, disable Emergency contact</li>
    <li>There should be at least one phone number</li>
    <li>Phone numbers should not be empty</li>
    <li>When gender is <strong>other</strong>, show Specify gender</li>
    <li>When gender is <strong>other</strong>, make Specify gender required</li>
    <li>Password is required</li>
    <li>Confirm password is only required when password is filled in</li>
    <li>Passwords should match, but only check if both are filled in</li>
    <li>Billing address is required</li>
    <li>Show shipping address only when needed (otherwise remove from DOM)</li>
    <li>
      If shipping address is different from billing address, make it required
    </li>
    <li>
      If shipping address is different from billing address, make sure they are
      not the same
    </li>
    <li>
      When providing shipping address and toggling the checkbox back and forth,
      make sure the state is kept
    </li>
    <li>
      When clicking the Fetch data button, load data, disable the form, and
      patch and re-enable the form
    </li>
    <li>When the user id is taken, perform async validation</li>
    <li>
      Try to set the firstName to Brecht lastName to Billiet, Now change the age
      to 30. It shows how we can do validations on the root
    </li>
  </ul>
  <button class="mt-6" (click)="fetchData()">Fetch data</button>
  <br />
</div>

<pre>{{ vm.errors?.['rootForm'] }}</pre>

@if (vm.errors?.['rootForm']) {
  <div
    class="p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400"
    role="alert"
  >
    {{ vm.errors?.['rootForm'] }}
  </div>
}

<form
  class="mt-8"
  scVestForm
  (ngSubmit)="onSubmit()"
  [formValue]="formValue()"
  [validateRootForm]="true"
  [formShape]="shape"
  [suite]="suite"
  [validationConfig]="validationConfig"
  (validChange)="formValid.set($event)"
  (errorsChange)="errors.set($event)"
  (formValueChange)="setFormValue($event)"
  [validationOptions]="{debounceTime: 300}"
>
  <fieldset [disabled]="vm.loading">
    <h1 class="text-4xl">Purchase form</h1>
    <div class="sm:col-span-2" sc-control-wrapper>
      <label>
        <span>User id</span>
        <input
          placeholder="Type user id"
          type="text"
          [validationOptions]="{debounceTime: 500}"
          [ngModel]="vm.formValue.userId"
          name="userId"
        />
      </label>
    </div>
    <div class="w-full" sc-control-wrapper>
      <label>
        <span>First name</span>
        <input
          placeholder="Type your first name"
          type="text"
          [ngModel]="vm.formValue.firstName"
          name="firstName"
        />
      </label>
    </div>
    <div class="w-full" sc-control-wrapper>
      <label>
        <span>Last name</span>
        <input
          placeholder="Type your last name"
          type="text"
          [ngModel]="vm.formValue.lastName"
          name="lastName"
        />
      </label>
    </div>
    <div class="w-full" sc-control-wrapper>
      <label>
        <span>Age</span>
        <input
          placeholder="Choose your age"
          type="number"
          [ngModel]="vm.formValue.age"
          name="age"
        />
      </label>
    </div>
    <div class="w-full" sc-control-wrapper>
      <label>
        <span>Emergency contact</span>
        <input
          placeholder="Type your emergency contact"
          type="text"
          [disabled]="vm.emergencyContactDisabled"
          [ngModel]="vm.formValue.emergencyContact"
          name="emergencyContact"
        />
      </label>
    </div>
    <div class="sm:col-span-2" sc-control-wrapper ngModelGroup="phonenumbers">
      <sc-phonenumbers [values]="vm.formValue.phonenumbers?.values || {}">
      </sc-phonenumbers>
    </div>
    <div
      class="sm:col-span-2 p-6 bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700"
    >
      <div class="" sc-control-wrapper>
        <label><span>Gender</span></label>
        <div class="flex">
          <div class="radio-button mr-4">
            <input
              id="gender-male"
              type="radio"
              [ngModel]="vm.formValue.gender"
              name="gender"
              value="male"
            />
            <label for="gender-male">Male</label>
          </div>
          <div class="radio-button mr-4">
            <input
              id="gender-female"
              type="radio"
              [ngModel]="vm.formValue.gender"
              name="gender"
              value="female"
            />
            <label for="gender-female">Female</label>
          </div>
          <div class="radio-button mr-4">
            <input
              id="gender-other"
              type="radio"
              [ngModel]="vm.formValue.gender"
              name="gender"
              value="other"
            />
            <label for="gender-other">Other</label>
          </div>
        </div>
      </div>
      @if (vm.showGenderOther) {
        <div class="sm:col-span-2" sc-control-wrapper>
          <label>
            <span>Specify gender</span>
            <input
              type="text"
              [ngModel]="vm.formValue.genderOther"
              name="genderOther"
            />
          </label>
        </div>
      }
    </div>

    <div class="sm:col-span-2" sc-control-wrapper ngModelGroup="passwords">
      <div class="grid gap-4 sm:grid-cols-2 sm:gap-6">
        <div class="w-full" sc-control-wrapper>
          <label>
            <span>Password</span>
            <input
              placeholder="Type password"
              type="password"
              [ngModel]="vm.formValue.passwords?.password"
              name="password"
            />
          </label>
        </div>
        <div class="w-full" sc-control-wrapper>
          <label>
            <span>Confirm</span>
            <input
              placeholder="Confirm password"
              type="password"
              [ngModel]="vm.formValue.passwords?.confirmPassword"
              name="confirmPassword"
            />
          </label>
        </div>
      </div>
    </div>
    <div class="sm:col-span-2" sc-control-wrapper>
      <label>
        <span>Product</span>
        <select name="productId" [ngModel]="vm.formValue.productId">
          @for (product of products(); track product.id) {
            <option [value]="product.id">{{ product.name }}</option>
          }
        </select>
      </label>
    </div>
    <div class="sm:col-span-2" sc-control-wrapper ngModelGroup="addresses">
      <div sc-control-wrapper ngModelGroup="billingAddress">
        <h3 class="text-2xl">Billing address</h3>
        <sc-address
          [address]="vm.formValue.addresses?.billingAddress"
        ></sc-address>
      </div>
      <label sc-control-wrapper>
        <span>Shipping address is different from billing address</span>
        <input
          type="checkbox"
          [ngModel]="
            vm.formValue.addresses?.shippingAddressDifferentFromBillingAddress
          "
          name="shippingAddressDifferentFromBillingAddress"
        />
      </label>
      @if (vm.showShippingAddress) {
        <div sc-control-wrapper ngModelGroup="shippingAddress">
          <h3 class="text-2xl">Shipping Address</h3>
          <sc-address [address]="vm.shippingAddress"></sc-address>
        </div>
      }
    </div>
    <div class="buttons">
      <button type="button">Reset</button>&nbsp;
      <button type="submit">Submit</button>
    </div>
  </fieldset>
</form>
<br />
<p>Valid: {{ vm.formValid }}</p>

<h3>The value of the form</h3>
<pre id="json-data">
  {{ vm.formValue | json }}
</pre>
