<div
  class="sm:col-span-2 p-6 bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700"
>
  <h3 class="mb-4 text-xl font-bold text-gray-900 dark:text-white">
    Example: form array with complex validations
  </h3>
  <ul class="text-md list-disc ml-4">
    <li>Always show an error if there is no business hour added</li>
    <li>From field is required</li>
    <li>To field is required</li>
    <li>From field should be valid time</li>
    <li>To field should be valid time</li>
    <li>
      If both from and to fields are valid:
      <ul>
        <li>To field should be later than from field</li>
      </ul>
    </li>
    <li>The same should apply for edit</li>
    <li>If more than 1 business hour is added, there should be no overlap</li>
  </ul>
</div>

<form
  class="mt-8"
  scVestForm
  [validateRootForm]="true"
  [formValue]="formValue()"
  [formShape]="shape"
  [suite]="suite"
  (validChange)="formValid.set($event)"
  (errorsChange)="errors.set($event)"
  (formValueChange)="formValue.set($event)"
>
  <span
    class="block mb-2 text-sm font-medium text-red-700 dark:text-red-500;"
    >{{ errors()?.[ROOT_FORM] }}</span
  >
  <fieldset>
    <sc-business-hours
      [businessHoursModel]="formValue().businessHours"
    ></sc-business-hours>
  </fieldset>
</form>
<br />
<p>Valid: {{ formValid() }}</p>

<h3>The value of the form</h3>
<pre id="json-data">
  {{ formValue() | json }}
</pre>

<pre id="json-errors">
  {{ errors() | json }}
</pre>
