<div class="grid gap-4 sm:grid-cols-2 sm:gap-6">
  <div class="w-full" simplified-control-wrapper>
    <label>
      <span>Street</span>
      <input placeholder="Type street" type="text" [ngModel]="address?.street" name="street"/>
    </label>
  </div>
  <div class="w-full" simplified-control-wrapper>
    <label>
      <span>Number</span>
      <input placeholder="Type street number" type="text" [ngModel]="address?.number" name="number"/>
    </label>
  </div>
  <div class="w-full" simplified-control-wrapper>
    <label>
      <span>City</span>
      <input placeholder="Type city" type="text" [ngModel]="address?.city" name="city"/>
    </label>
  </div>
  <div class="w-full" simplified-control-wrapper>
    <label>
      <span>Zipcode</span>
      <input placeholder="Type zipcode" type="text" [ngModel]="address?.zipcode" name="zipcode"/>
    </label>
  </div>
  <div class="sm:col-span-2" simplified-control-wrapper>
    <label>
      <span>Country</span>
      <input placeholder="Type country" type="text" [ngModel]="address?.country" name="country"/>
    </label>
  </div>
</div>
