<div ngModelGroup="businessHours" sc-control-wrapper>
  <div ngModelGroup="values" sc-control-wrapper>
    @for (item of businessHoursModel?.values | keyvalue; track item.key) {
      <div sc-control-wrapper [ngModelGroup]="item.key">
        <div class="flex items-start">
          <sc-business-hour
            [businessHour]="businessHoursModel?.values?.[item.key]"
          ></sc-business-hour>
          <button
            class="ml-4 mt-1.5"
            type="button"
            (click)="removeBusinessHour(item.key)"
          >
            <i class="fa-solid fa-trash"></i>
          </button>
        </div>
      </div>
    }
  </div>
  <hr class="mt-4 mb-4" />
  <div sc-control-wrapper ngModelGroup="addValue" #group="ngModelGroup">
    <div class="flex items-start">
      <sc-business-hour
        [businessHour]="businessHoursModel?.addValue"
      ></sc-business-hour>
      <button
        class="ml-4 mt-1.5"
        type="button"
        [disabled]="group.invalid || group.pending"
        (click)="addBusinessHour(group)"
      >
        <i class="fa-solid fa-plus"></i>
      </button>
    </div>
  </div>
</div>
