/* You can add global styles to this file, and also import other style files */
/* Add application styles & imports to this file! */
/* Add application styles & imports to this file! */
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-white dark:bg-gray-900 text-gray-900 dark:text-white;

}
button {
 @apply text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800;

}
fieldset {
  @apply grid gap-4 sm:grid-cols-2 sm:gap-6;

  label span {
    @apply block mb-2 text-sm font-medium text-gray-900 dark:text-white
  }

  .control-wrapper {
    select, input[type='text'], input[type='number'] , input[type='password'] {
      @apply bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-4 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500;
    }

    &--invalid {
      label span {
        @apply block mb-2 text-sm font-medium text-red-700 dark:text-red-500;
      }

      select, input[type='text'], input[type='number'], input[type='password']  {
        @apply bg-red-50 border border-red-500 text-red-900 placeholder-red-700 text-sm rounded-lg focus:ring-red-500 dark:bg-gray-700 focus:border-red-500 block w-full dark:text-red-500 dark:placeholder-red-500 dark:border-red-500;
      }
    }

    &__errors {
      @apply mt-2 text-sm text-red-600 dark:text-red-500;
    }


    .radio-button {
      @apply flex items-center mb-4;
      label {
        @apply block ms-2  text-sm font-medium text-gray-900 dark:text-gray-300
      }

      input[type='radio'] {
        @apply w-4 h-4 border-gray-300 focus:ring-2 focus:ring-blue-300 dark:focus:ring-blue-600 dark:focus:bg-blue-600 dark:bg-gray-700 dark:border-gray-600;
      }
    }
    input[type='checkbox'] {
      @apply w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 dark:focus:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600;
    }
  }

}


